

.am-search {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    padding: 0 8px;
    overflow: hidden;
    // background-color: #efeff4;
}

.am-search-input input {
    z-index: 2;
    opacity: 0;
    width: 100%;
    text-align: left;
    display: block;
    color: #000;
    height: 28px;
    font-size: 15px;
    // background-color: transparent;
    border: 0;
}
.am-search-input .am-search-synthetic-ph, .am-search-input input {
    position: absolute;
    top: 0;
    left: 0;
}
.tag-container{
    display: flex;
    padding-top: 9px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tag-container > div {
    margin-left: 9px;
    margin-bottom: 9px;
  }

//   .rcw-conversation-container{
//     margin-bottom: 50px; 
// }
// .rcw-widget-container .rcw-launcher{
//     top: 0;
//     //  margin: 0;
//     height: 30px;
//     margin-top: 5px;
//     width: 30px;
// }
// .rcw-conversation-container > .rcw-header{
//     padding: 0 0 1px;
// }
// .rcw-conversation-container > .rcw-header > .rcw-close-button {
//     top: 10px;
// }
// .rcw-conversation-container > .rcw-header > .rcw-title {
//     padding: 0 0 1px;
// }