.head{
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    -moz-border-radius: 4rem;
    margin: 0 auto;
    background:#fff url(../../src/assets/head.png) no-repeat center center;
    background-size: 3.5rem 4rem;
    -o-background-size: 3.5rem 4.1rem;
    -webkit-background-size: 3.5rem 4.1rem;
    // margin-top: 0.8rem;
    // margin-bottom: 0.8rem;
}