.head{
    width: 70%;
    height: 100px;
    border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    margin:0 auto;
   
    background-size: 0.68rem 0.82rem;
    -o-background-size:0.68rem 0.82rem ;
    -webkit-background-size: 0.68rem 0.82rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}